<div fxLayout="column" fxLayoutAlign="center center">
  <h1>Projects</h1>
  <div class="projects" fxLayout="row">
    <mat-card>
      <mat-card-header fxLayoutAlign="start center">
        <div fxLayoutAlign="center center" mat-card-avatar>
          <img src="../../assets/images/github.png" />
        </div>
        <mat-card-title>Project 1</mat-card-title>
      </mat-card-header>
      <mat-card-content> <p>Coming in future...</p></mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header fxLayoutAlign="start center">
        <div fxLayoutAlign="center center" mat-card-avatar>
          <img src="../../assets/images/github.png" />
        </div>
        <mat-card-title>Project 2</mat-card-title>
      </mat-card-header>
      <mat-card-content> <p>Coming in future...</p></mat-card-content>
    </mat-card>
  </div>
</div>
