h1 {
  margin: 1.5rem 0;
}

.mat-card {
  width: 180px;
  height: auto;
  margin: 0.5rem;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

img {
  width: 2rem;
  height: auto;
}

@media (max-width: 1000px) {
  .mat-card {
    width: 10rem;
  }
}

@media (max-width: 600px) {
  .mat-card {
    width: 6rem;
    margin: 2rem 0.5rem;
  }

  //   img {
  //     width: 1.8rem;
  //     height: auto;
  //   }

  .mat-card-header .mat-card-title {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .mat-card {
    width: 10rem;
  }
}
