<div fxLayout="column" fxLayoutAlign="center center">
  <img src="../../assets/images/profile_pic.png" />
  <div id="intro">
    <p>
      Jyväskyläläinen melkein valmistunut IT-tradenomi joka on kiinnostunut
      web-sovelluskehityksestä ja ohjelmoinnista. Olen myös toimisto- ja
      tietohallinnon merkonomi, jolta löytyy paljon kokemusta kaupan alalta,
      asiakaspalvelusta ja toimistotöistä. Vapaa-aikani kulutan omien
      ohjelmointiprojektien sekä liikuntaharrastuksien parissa kuten
      pyöräillessä ja salilla käydessä.
    </p>
    <br />
    <p>
      Olen erittäin kiinnostunut koko ajan kehittyvästä tietotekniikasta jonka
      vuoksi olen hyvin ajan tasalla ja minulta löytyy kattava ymmärrys alan
      asioista. Web-sovelluskehityksen lisäksi tykkään myös pelikehityksestä ja
      olenkin toiminut ohjelmoijana parissa peliprojektissa. Olen aina innokas
      opettelemaan uutta ja haastamaan itseäni uusilla asioilla.
    </p>
  </div>
</div>
