img {
  width: 20%;
  height: auto;
  min-width: 20%;
  min-height: 20%;
  border-radius: 50%;
  margin: 2rem 0;
}

#intro {
  width: 50%;
  font-size: 1.2vw;
  line-height: normal;
}

@media (max-width: 1000px) {
  img {
    width: 14rem;
  }

  #intro {
    width: 500px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  img {
    width: 10rem;
  }

  #intro {
    width: 300px;
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  img {
    width: 40%;
    margin: 1rem 0;
  }

  #intro {
    width: 70%;
    font-size: 1.5vw;
  }
}
